{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css_files %}
    <link rel="icon" type="icon" href="{% static "store/images/logo.png" %}">
    <link rel="stylesheet" href="{% static "store/register.css" %}"/>
    <link rel="stylesheet" href="{% static "store/carousel.css" %}"/>
    {% endblock %}
    
    <title>
        BlackTeaStore 忘記密碼
    </title>
</head>
<body>
    <div class='header'>
        <a href="{% url "index" %}">
            <div class='header-logo'></div>
        </a>
        <div class='header-text'>更改密碼</div>
    </div>

    {% block content %}
    <div class='content'>
        {% include "store/carousel.html" %}
    
        <form method="POST" id="register-form">
            <span>更改密碼</span>
            {% csrf_token %}

            {% if forms.errors %}
            <div class="errorlist">
                <div class="errorlist-img"></div>
                <div class='errorlist-text' contenteditable="true">
                    {% for field, errors in forms.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% for form in forms %}
                <div class="form-control {% if form.errors %}invalid{% endif %}">
                    {{ form }}
                    {% comment %} {{ form.errors }}  {% endcomment %}
                </div>
            {% endfor %}

            {% comment %} {% if error_message %}
            <div class="error-message-user-email">{{ error_message }}</div>
            {% endif %} {% endcomment %}

            

            <button type="submit">確認</button>
            {% comment %} <div class='form-or'>或</div>

            <div class='form-other'>
                <a href="https://www.facebook.com/">
                    <div class="form-fb-signup"></div>
                </a>
                <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Faccounts.google.com%2F&followup=https%3A%2F%2Faccounts.google.com%2F&ifkv=AXo7B7XI4wEmpVy7I_X-bi_66MhdxPB7ygUSf4fnjjvuH6UIa_feT8kaCCrBLEUOUAa6fWJs4kAd&passive=1209600&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S772683682%3A1691261831065975">
                    <div class="form-gg-signup"></div>
                </a>
            </div> {% endcomment %}
            
            <div class='form-login'>還不是會員嗎? <a href="{% url 'register' %}">點我註冊</a></div>
            <div class='form-check'>登入即代表您同意遵守<a href="">紅茶商城會員協議</a></div>
          </form>
    </div>
    {% endblock content %}

    {% include "store/footer.html" %}
    <style>
        .footer {
            bottom: 0px;
            background-color: #35363A;
            height: 150px;
            width: 1903px;
        }
    </style>
</body>
</html>
