body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    color: #ce121e;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}

a {
    color: #ce121e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.index-btn {
    height: 40px;
    font-size: 18px;
    width: 120px;
    color: #CE121E;
    outline: none;
    border: 1px #CE121E solid;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Microsoft JhengHe';
    border-radius: 0px;
    text-align: center;
    line-height: 40px;
    margin-right: 7px;
    margin-top: 10px;
    background-color: white;
    padding: 0 10px;
    border-radius: 7px;
}

.index-btn:hover {
    background-color: #CE121E;
    border: 1px #CE121E solid;
    color: white;
    outline: none;
}